* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
  }
body{
    background-color: rgb(241, 248, 248);
    display: flex;
    height: 100vh;
    width: 100vw;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
    height: 100vh;
    background-color: #CECCCC;
}
.header{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.todo-icon img{
    width: 80px;
    margin-right: 10px;
}
.web-title{
    font-size: 22px;
    font-weight: bold;
    
}
.menu-links{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.menu-links .nav-link{
    height: 40px;
    background-color: #E2DDDD;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    margin-top: 10px;
    align-items: center;
    list-style-type: none;
}
.menu-links .nav-link i {
    font-size: 25px;
    margin-right: 5px;
}
.menu-links .nav-link a {
    text-decoration: none;
    color: white;
    display: flex;
    gap: 15px;
    font-size: 20px;
}
ul{
    text-decoration: none;
    list-style-type: none;
}
.web-page{
    width: 77%;
    display: flex;
    flex-direction: column;
}
.web-page .header{
    height: 30%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.web-page .header button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    height: 40px;
    width: 120px;
    padding: 5px;
    border-radius: 10px;
    background-color: #AB68FF;
    color: white;
    gap: 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
}
.header button:hover{
    background-color: #7624db;
    cursor: pointer;
}
.web-page .header .title{
    font-size: 20px;
    font-weight: 600;
}
.web-page .header .task_input {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 60%;
    height: 100%;
}
.web-page .header .task_input .task_input_field {
    flex-grow: 3;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: gray;
    font-size: 15px;
    
    background-color: lightgrey ;
}
.task_input_time {
    flex-grow: 1;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: rgb(167, 165, 165);
    background-color: lightgrey;
}
.task_input_time:focus{
    outline: none
}
.task_input_field::placeholder, .task_responsable_name::placeholder{
    font-size: 15px;
    opacity: 0.5;
}
.web-page .header .task_input .task_input_erea .task_responsable_name{
    padding: 10px;
    flex-grow: 1;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: gray;
    font-size: 15px;
    background-color: lightgrey;
}
.web-page .header .task_input .task_input_erea {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.web-page .header .task_input .task_input_field, .web-page .header .task_input .task_input_erea .task_responsable_name:focus{
    outline: none;
}
.web-page .cards{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    align-items: center;
}
.web-page .cards .task-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 25%;
    background-color: azure;
    border-radius: 10px;
    gap: 15px;
}
.web-page .cards .task-card .task-title{
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: 500;
    height: 12%;
    background-color: #AB68FF;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.web-page .cards .task-card .task-actions{
    background-color: #D9D9D9;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;

}
.new_task {
    border-radius: 10px;
    height: 50px;
    width: 82%;
    padding: 5px;
    border: none;
    background-color: #f7f7f7;
    font-size: 13px;
    color: #868484;
}
.done_btn, .edit_btn, .delete_btn {
    font-size: 12px;
    margin: 0 3px 8px 3px;
    color: #AB68FF;
}
.done_btn:hover, .edit_btn:hover, .delete_btn:hover{
    color: #7624db;
    font-size: 15px;
    cursor: pointer;
}
.delete_btn{
    font-size: 13px;
}
