* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
  }
body{
    background-color: aqua;
    display: flex;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
    height: 100vh;
    background-color: #CECCCC;
}
.header{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.todo-icon img{
    width: 80px;
    margin-right: 10px;
}
.web-title{
    font-size: 22px;
    font-weight: bold;
    
}
.menu-links{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.menu-links .nav-link{
    height: 40px;
    background-color: #E2DDDD;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    margin-top: 10px;
    align-items: center;
    list-style-type: none;
}
.menu-links .nav-link i {
    font-size: 25px;
    margin-right: 5px;
}
.menu-links .nav-link a {
    text-decoration: none;
    color: white;
    display: flex;
    gap: 15px;
    font-size: 20px;
}
ul{
    text-decoration: none;
    list-style-type: none;
}
.web-page{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.web-page .header{
    height: 5%;
    display: flex;
    align-items: center;
    padding: 50px;
    justify-content: space-between;
}
.web-page .header button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    background-color: #AB68FF;
    color: white;
    gap: 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
}
.web-page .header .title{
    font-size: 20px;
    font-weight: 600;
}
.web-page .cards{
    background-color: red;
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    align-items: center;
}
.web-page .cards .task-card{
    height: 80%;
    width: 20%;
    background-color: #D9D9D9;
    border-radius: 10px;
}
